@model GestaoDeUsuarios.Site.Models.Home
@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <button class="btn btn-success" data-toggle="modal" data-target="#modalCadastro">Adicionar</button>
        <p>
            @Html.Partial("_TableUsers", Model)
        </p>
    </div>
</div>

<div class="modal fade" id="modalCadastro" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cadastrar</h4>
            </div>
            <div class="modal-body">
                <form id="FormCadastro">                   
                    <div class="form-group">
                        <input type="text" class="form-control" name="nome" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="sobrenome" placeholder="SobreNome">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="cpf" placeholder="CPF">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="telefone" placeholder="Telefone">
                    </div>
                    <button id="BotaoCadastrar" type="button" class="btn btn-primary">Gravar</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAtualizacao" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Atualizar</h4>
            </div>
            <div class="modal-body">
                <form id="FormAtualizar">
                    <div class="form-group">
                        <input id="atualizarId" type="text" class="form-control" name="id" placeholder="Nome" readonly>
                    </div>
                    <div class="form-group">
                        <input id="atualizarNome" type="text" class="form-control" name="nome" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <input id="atualizarSobrenome" type="text" class="form-control" name="sobrenome" placeholder="SobreNome">
                    </div>
                    <div class="form-group">
                        <input id="atualizarCpf" type="number" class="form-control" name="cpf" placeholder="CPF">
                    </div>
                    <div class="form-group">
                        <input id="atualizarTelefone" type="number" class="form-control" name="telefone" placeholder="Telefone">
                    </div>
                    <button id="BotaoAlterar" type="submit" class="btn btn-primary">Gravar</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalExclusao" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmar Exclusão</h4>
            </div>
            <div class="modal-body">
                <form id="FormExcluir">
                    <div class="form-group">
                        <input id="ExcluirId" type="text" class="form-control" name="id" readonly>
                    </div>
                    <div class="form-group">
                        <input id="ExcluirNome" type="text" class="form-control" name="nome" readonly>
                    </div>                    
                    <button id="BotaoExcluir" type="submit" class="btn btn-primary">Confirmar</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#BotaoCadastrar").on("click", function (e) {
            var url = "@Url.Content("~/Home/Cadastrar")";
            var dados = $("#FormCadastro").serialize();
            $.ajax({
                type: "POST",
                url: url,
                data: dados
            }).done(function (data) {
                    tratarResultado(data);                
            }).fail(function (data) {
                alert("Falha na conexao com o servidor");
            });
            e.preventDefault(); 
            $("#modalCadastro").modal("hide");
            document.getElementById("FormCadastro").reset();
        });

        $("#BotaoAlterar").on("click", function (e) {
            var url = "@Url.Content("~/Home/AtualizarDados")";            

            var dados = $("#FormAtualizar").serialize();
            $.ajax({
                type: "POST",
                url: url,
                data: dados
            }).done(function (data) {
                    tratarResultado(data);                
            }).fail(function (data) {
                alert("Falha na conexao com o servidor");
            });
            e.preventDefault(); 
            $("#modalAtualizacao").modal("hide");
        });

        $("#BotaoExcluir").on("click", function (e) {
            var url = "@Url.Content("~/Home/Excuir")";          

            var dados = $("#FormExcluir").serialize();
            $.ajax({
                type: "POST",
                url: url,
                data: dados
            }).done(function (data) {
                    tratarResultado(data);                
            }).fail(function (data) {
                alert("Falha na conexao com o servidor");
            });
            e.preventDefault(); 
            $("#modalExclusao").modal("hide");
        });
    });

    //gambiarra kkk
    function preencherCamposAtualizacao(id) {
        var name = document.getElementById(id + " " + "tdn").textContent;
        var sobrenome = document.getElementById(id + " " + "tds").textContent;
        var cpf = document.getElementById(id + " " + "tdc").textContent;
        var telefone = document.getElementById(id + " " + "tdt").textContent;

        document.getElementById("atualizarId").setAttribute("value", id);
        document.getElementById("atualizarNome").setAttribute("value", name);
        document.getElementById("atualizarSobrenome").setAttribute("value", sobrenome);
        document.getElementById("atualizarCpf").setAttribute("value", cpf);
        document.getElementById("atualizarTelefone").setAttribute("value", telefone);
    }

    function preencherCamposExclusao(id) {
        var name = document.getElementById(id + " " + "tdn").textContent;
        var sobrenome = document.getElementById(id + " " + "tds").textContent;
        document.getElementById("ExcluirId").setAttribute("value", id);
        document.getElementById("ExcluirNome").setAttribute("value", name);
    }

    function tratarResultado(data) {           
        if (data.Success) {
            $('#tableUsers').load('@Url.Action("Index","Home")');
            mostrarMensagem(data.Message);
            
        }
        else {
            var mensagem = "";
            for (var i = 0; i < data.Errors.length; i++) {
                var mensagem = mensagem + " " + data.Errors[i].value + ";";
            }
            mostrarMensagem(mensagem);
        }
    }
</script>